Package: com.82flex.layerpropresearch
Name: LayerPropResearch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Neutralizes CALayer disableUpdateMask in the render server
Maintainer: 82flex
Author: 82flex
Section: Tweaks
Depends: firmware (>= 14.0)
